.boton__ingreso {
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  transition: 1s; }
  .boton__ingreso.boton__ingreso:hover {
    width: 100px;
    color: wheat; }

.linkTable {
  text-decoration: none;
  color: black;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .8s ease-in-out, box-shadow .6s ease-in-out; }
  .linkTable.linkTable:hover {
    box-shadow: inset 100px 0 0 0 #d15656;
    color: white; }

.artEnt {
  background-color: #d15656; }

.lista {
  background-color: #d15656; }

th,
table,
td {
  height: 80px;
  width: 500px;
  background-color: wheat; }

.menuInicio {
  background-color: wheat; }

.pContenidoPago, .pDescripcion {
  font-weight: bold;
  font-family: 'Roboto', sans-serif; }

.pDescripcion {
  text-align: center;
  font-size: 15 px; }

.btn-celeste {
  background-color: lightblue; }

.btn-rojo {
  background-color: red; }

.btn-gris {
  background-color: grey; }

.footer-distributed {
  margin-top: 100px;
  grid-area: footer;
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 10px;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0; }

.footer-distributed h3 span {
  color: #d15656; }

.footer-distributed .footer-links {
  font-size: 20px;
  color: white;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 16px;
  font-weight: bold; }

.footer-distributed .footer-center {
  width: 35%; }

.footer-distributed .footer-center i {
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; }

.footer-distributed .footer-center p {
  font-size: 20px;
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0; }

.footer-distributed .footer-center p a {
  color: wheat;
  text-decoration: none; }

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px; }

.footer-distributed .footer-right {
  width: 20%; }

.footer-distributed .footer__aboutCompany {
  line-height: 20px;
  color: white;
  font-size: 15px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer__aboutCompany span {
  display: block;
  color: wheat;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px; }

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center; }
  .footer-distributed .footer-center i {
    margin-left: 0; } }

body {
  background-image: linear-gradient(to bottom right, #040505, #434a4d, black);
  font-family: sans-serif; }

.navMenu {
  background-color: black; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #a8a1a1;
  padding: 40px; }

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

ul.slider {
  position: relative;
  width: 800px;
  height: 300px; }

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff; }

ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

ul.slider li:first-child {
  opacity: 1; }

ul.slider li:target {
  opacity: 1; }

.menu {
  text-align: center;
  margin: 20px; }

.menu li {
  display: inline-block;
  text-align: center; }

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%; }

.slider {
  width: 1000px; }

.list-group {
  margin-top: 40px; }

.slide__img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

#botonP {
  width: 100px; }

.divSecciones {
  background-color: #e03f3f;
  margin-top: 100px;
  border-radius: 10px; }

.menuAccion, .menuDrama, .menuTerror, .menuComedia, .menuCienciaFiccion, .menuSeinen, .menuMecha {
  display: flex;
  justify-items: space-evenly;
  padding: 5px;
  gap: 25px;
  border-radius: 5px;
  margin-top: 60px;
  height: 540px;
  background-color: #241f1f; }

.hCategoria {
  color: white;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 10px; }

a {
  text-decoration: none;
  color: #000; }

.card {
  overflow: hidden;
  width: 320px;
  height: 450px;
  margin: 50px auto;
  background: #2a264f;
  border: 5px solid #1a163f;
  border-radius: 3px;
  box-shadow: 0 0 10px #2a264f; }

.img1, .img3, .img5, .img7, .img9, .img11, .img13, .img15, .img17, .img19, .img21, .img23, .img25, .img27, .img29, .img31, .img33, .img35, .img37, .img39, .img41, .img43, .img45, .img47, .img49, .img51, .img53, .img55, .img57, .img59, .img61, .img63, .img65, .img67, .img69, .img71, .img73, .img75, .img77, .img79, .img81, .img83, .img85, .img87, .img89, .img91, .img93, .img95, .img97, .img99, .img101, .img103, .img105, .img107, .img109, .img111, .img113, .img115, .img117, .img119, .img121, .img123, .img125 {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  background-image: url(https://es.web.img3.acsta.net/pictures/14/10/01/14/18/135831.jpg);
  background-size: 310px 440px;
  background-position: left top;
  transition: all 0.5s ease-in-out; }

.img2, .img4, .img6, .img8, .img10, .img12, .img14, .img16, .img18, .img20, .img22, .img24, .img26, .img28, .img30, .img32, .img34, .img36, .img38, .img40, .img42, .img44, .img46, .img48, .img50, .img52, .img54, .img56, .img58, .img60, .img62, .img64, .img66, .img68, .img70, .img72, .img74, .img76, .img78, .img80, .img82, .img84, .img86, .img88, .img90, .img92, .img94, .img96, .img98, .img100, .img102, .img104, .img106, .img108, .img110, .img112, .img114, .img116, .img118, .img120, .img122, .img124, .img126 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  background-image: url(https://es.web.img3.acsta.net/pictures/14/10/01/14/18/135831.jpg);
  background-size: 310px 440px;
  background-position: left bottom;
  transition: all 0.5s ease-in-out; }

.card .title {
  height: 22%;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  color: #FFFC;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0 -95px 28px -25px #000 inset; }

.card .text {
  position: absolute;
  bottom: 80px;
  height: 120px;
  padding: 15px 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #111010;
  transform: rotate(90deg);
  transform-origin: 0 100px;
  opacity: 0;
  transition: all 0.5s ease; }

.card .catagory {
  position: absolute;
  left: 10px;
  top: 140px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #2a264f;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease; }

.card .views {
  position: absolute;
  left: 10px;
  top: 175px;
  padding: 3px 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  background: #8b2463;
  color: #fff;
  border-radius: 5px;
  transform: translate(-160px, 0);
  transition: all 0.5s ease 0.15s; }

.card:hover .img1, .card:hover .img3, .card:hover .img5, .card:hover .img7, .card:hover .img9, .card:hover .img11, .card:hover .img13, .card:hover .img15, .card:hover .img17, .card:hover .img19, .card:hover .img21, .card:hover .img23, .card:hover .img25, .card:hover .img27, .card:hover .img29, .card:hover .img31, .card:hover .img33, .card:hover .img35, .card:hover .img37, .card:hover .img39, .card:hover .img41, .card:hover .img43, .card:hover .img45, .card:hover .img47, .card:hover .img49, .card:hover .img51, .card:hover .img53, .card:hover .img55, .card:hover .img57, .card:hover .img59, .card:hover .img61, .card:hover .img63, .card:hover .img65, .card:hover .img67, .card:hover .img69, .card:hover .img71, .card:hover .img73, .card:hover .img75, .card:hover .img77, .card:hover .img79, .card:hover .img81, .card:hover .img83, .card:hover .img85, .card:hover .img87, .card:hover .img89, .card:hover .img91, .card:hover .img93, .card:hover .img95, .card:hover .img97, .card:hover .img99, .card:hover .img101, .card:hover .img103, .card:hover .img105, .card:hover .img107, .card:hover .img109, .card:hover .img111, .card:hover .img113, .card:hover .img115, .card:hover .img117, .card:hover .img119, .card:hover .img121, .card:hover .img123, .card:hover .img125 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img2, .card:hover .img4, .card:hover .img6, .card:hover .img8, .card:hover .img10, .card:hover .img12, .card:hover .img14, .card:hover .img16, .card:hover .img18, .card:hover .img20, .card:hover .img22, .card:hover .img24, .card:hover .img26, .card:hover .img28, .card:hover .img30, .card:hover .img32, .card:hover .img34, .card:hover .img36, .card:hover .img38, .card:hover .img40, .card:hover .img42, .card:hover .img44, .card:hover .img46, .card:hover .img48, .card:hover .img50, .card:hover .img52, .card:hover .img54, .card:hover .img56, .card:hover .img58, .card:hover .img60, .card:hover .img62, .card:hover .img64, .card:hover .img66, .card:hover .img68, .card:hover .img70, .card:hover .img72, .card:hover .img74, .card:hover .img76, .card:hover .img78, .card:hover .img80, .card:hover .img82, .card:hover .img84, .card:hover .img86, .card:hover .img88, .card:hover .img90, .card:hover .img92, .card:hover .img94, .card:hover .img96, .card:hover .img98, .card:hover .img100, .card:hover .img102, .card:hover .img104, .card:hover .img106, .card:hover .img108, .card:hover .img110, .card:hover .img112, .card:hover .img114, .card:hover .img116, .card:hover .img118, .card:hover .img120, .card:hover .img122, .card:hover .img124, .card:hover .img126 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.card:hover .text {
  opacity: 0.8;
  transform: rotate(0deg); }

.img3 {
  background-image: url(https://www.aceprensa.com/wp-content/uploads/2018/07/353081-0.jpg); }

.img4 {
  background-image: url(https://www.aceprensa.com/wp-content/uploads/2018/07/353081-0.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img5 {
  background-image: url(https://pics.filmaffinity.com/El_renacido-502380851-large.jpg); }

.img6 {
  background-image: url(https://pics.filmaffinity.com/El_renacido-502380851-large.jpg); }

.card:hover .img5 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img6 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img7 {
  background-image: url(https://i0.wp.com/hipertextual.com/wp-content/uploads/2012/05/iron_man_2_movie_still-normal.jpg?fit=1200%2C900&quality=50&strip=all&ssl=1); }

.img8 {
  background-image: url(https://i0.wp.com/hipertextual.com/wp-content/uploads/2012/05/iron_man_2_movie_still-normal.jpg?fit=1200%2C900&quality=50&strip=all&ssl=1); }

.card:hover .img7 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img8 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img9 {
  background-image: url(https://es.web.img3.acsta.net/pictures/21/03/04/09/51/2760299.jpg); }

.img10 {
  background-image: url(https://es.web.img3.acsta.net/pictures/21/03/04/09/51/2760299.jpg); }

.card:hover .img9 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img10 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img11 {
  background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/08/francotirador-2029837.jpg); }

.img12 {
  background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/08/francotirador-2029837.jpg); }

.card:hover .img11 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img12 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img13 {
  background-image: url(https://i.blogs.es/d41c25/cartel-bright/1366_2000.jpg); }

.img14 {
  background-image: url(https://i.blogs.es/d41c25/cartel-bright/1366_2000.jpg); }

.card:hover .img13 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img14 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img15 {
  background-image: url(https://1.bp.blogspot.com/-1xd2Ta7cjB8/W8MnMgHpvsI/AAAAAAABdkI/PZOQZESfY1Qv-h7eHzroTuabSfrwAs5eACLcBGAs/s1600/L%2527%25C3%25A9change%2Bdes%2Bprincesses.jpg); }

.img16 {
  background-image: url(https://1.bp.blogspot.com/-1xd2Ta7cjB8/W8MnMgHpvsI/AAAAAAABdkI/PZOQZESfY1Qv-h7eHzroTuabSfrwAs5eACLcBGAs/s1600/L%2527%25C3%25A9change%2Bdes%2Bprincesses.jpg); }

.card:hover .img15 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img16 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img17 {
  background-image: url(https://pics.filmaffinity.com/La_forma_del_agua-856013521-large.jpg); }

.img18 {
  background-image: url(https://pics.filmaffinity.com/La_forma_del_agua-856013521-large.jpg); }

.card:hover .img17 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img18 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img19 {
  background-image: url(https://pics.filmaffinity.com/El_pianista-978132965-large.jpg); }

.img20 {
  background-image: url(https://pics.filmaffinity.com/El_pianista-978132965-large.jpg); }

.card:hover .img19 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img20 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img21 {
  background-image: url(https://mx.web.img3.acsta.net/c_310_420/pictures/19/04/02/20/20/3649047.jpg); }

.img22 {
  background-image: url(https://mx.web.img3.acsta.net/c_310_420/pictures/19/04/02/20/20/3649047.jpg); }

.card:hover .img21 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img22 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img23 {
  background-image: url(https://media.ambito.com/p/cbaf488f2109e40bd1ebb91164ce45e7/adjuntos/239/imagenes/039/090/0039090268/el-primer-hombre-la-lunajpg.jpg?0000-00-00-00-00-00); }

.img24 {
  background-image: url(https://media.ambito.com/p/cbaf488f2109e40bd1ebb91164ce45e7/adjuntos/239/imagenes/039/090/0039090268/el-primer-hombre-la-lunajpg.jpg?0000-00-00-00-00-00); }

.card:hover .img23 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img24 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img25 {
  background-image: url(https://es.web.img2.acsta.net/c_310_420/pictures/14/02/25/12/38/227948.jpg); }

.img26 {
  background-image: url(https://es.web.img2.acsta.net/c_310_420/pictures/14/02/25/12/38/227948.jpg); }

.card:hover .img25 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img26 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img27 {
  background-image: url(https://es.web.img3.acsta.net/c_310_420/pictures/22/04/27/21/58/0515920.jpg); }

.img28 {
  background-image: url(https://es.web.img3.acsta.net/c_310_420/pictures/22/04/27/21/58/0515920.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img29 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.img30 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img29 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.img30 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img29 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.img30 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img29 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.img30 {
  background-image: url(https://sm.ign.com/t/ign_es/screenshot/default/1-23-1_c23c.1280.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img31 {
  background-image: url(https://album.mediaset.es/eimg/10000/2021/09/16/clipping_LA0WTv_2cd6.jpg?w=480); }

.img32 {
  background-image: url(https://album.mediaset.es/eimg/10000/2021/09/16/clipping_LA0WTv_2cd6.jpg?w=480); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img33 {
  background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/01/pennywise.jpg?itok=yqkLI8iN); }

.img34 {
  background-image: url(https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/01/pennywise.jpg?itok=yqkLI8iN); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img35 {
  background-image: url(https://i.ytimg.com/vi/enAOXy89wBM/hqdefault.jpg); }

.img36 {
  background-image: url(https://i.ytimg.com/vi/enAOXy89wBM/hqdefault.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img37 {
  background-image: url(https://img.chilango.com/2020/08/peliculas-terror-psicologico.jpg); }

.img38 {
  background-image: url(https://img.chilango.com/2020/08/peliculas-terror-psicologico.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img39 {
  background-image: url(https://www.nacionrex.com/__export/1570383359349/sites/debate/img/2019/10/06/maraton_de_terror_netflix_peliculas_crop1570383340437.jpg_423682103.jpg); }

.img40 {
  background-image: url(https://www.nacionrex.com/__export/1570383359349/sites/debate/img/2019/10/06/maraton_de_terror_netflix_peliculas_crop1570383340437.jpg_423682103.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img41 {
  background-image: url(https://www.rockandpop.cl/wp-content/uploads/2021/10/Sin-titulo-2021-10-25T181542.715-768x432.jpg); }

.img42 {
  background-image: url(https://www.rockandpop.cl/wp-content/uploads/2021/10/Sin-titulo-2021-10-25T181542.715-768x432.jpg); }

.card:hover .img27 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img28 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.menuAccion, .menuDrama, .menuTerror, .menuComedia, .menuCienciaFiccion, .menuSeinen, .menuMecha {
  display: flex;
  justify-items: space-evenly;
  padding: 5px;
  gap: 25px;
  border-radius: 5px;
  margin-top: 60px;
  height: 540px;
  background-color: #241f1f; }

.img43 {
  background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/04/24/15877614158252.jpg); }

.img44 {
  background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/04/24/15877614158252.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img45 {
  background-image: url(https://i.pinimg.com/736x/47/e3/73/47e3735919718096b3ae4886486b65c0.jpg); }

.img46 {
  background-image: url(https://i.pinimg.com/736x/47/e3/73/47e3735919718096b3ae4886486b65c0.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img47 {
  background-image: url(https://es.web.img2.acsta.net/pictures/19/11/22/09/33/5060052.jpg); }

.img48 {
  background-image: url(https://es.web.img2.acsta.net/pictures/19/11/22/09/33/5060052.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img49 {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/arcane-league-of-legends-1636541499.jpg?crop=1.00xw:1.00xh;0,0&resize=640:*); }

.img50 {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/arcane-league-of-legends-1636541499.jpg?crop=1.00xw:1.00xh;0,0&resize=640:*); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img51 {
  background-image: url(https://vader.news/__export/1645158960784/sites/gadgets/img/2022/02/18/chicago_fire.jpg_454298787.jpg); }

.img52 {
  background-image: url(https://vader.news/__export/1645158960784/sites/gadgets/img/2022/02/18/chicago_fire.jpg_454298787.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img53 {
  background-image: url(https://www.rockandpop.cl/wp-content/uploads/2021/06/the-boys-1.jpg); }

.img54 {
  background-image: url(https://www.rockandpop.cl/wp-content/uploads/2021/06/the-boys-1.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img55 {
  background-image: url(https://imagenes.atresplayer.com/atp/clipping/cmsimages01/2021/07/14/40AE02FE-438B-4235-A7CB-50ADFE78F16D/1280x720.jpg); }

.img56 {
  background-image: url(https://imagenes.atresplayer.com/atp/clipping/cmsimages01/2021/07/14/40AE02FE-438B-4235-A7CB-50ADFE78F16D/1280x720.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img57 {
  background-image: url(https://gcdn.lanetaneta.com/wp-content/uploads/2020/12/The-Office-US-regresara-a-Netflix-Reino-Unido-en-enero.png); }

.img58 {
  background-image: url(https://gcdn.lanetaneta.com/wp-content/uploads/2020/12/The-Office-US-regresara-a-Netflix-Reino-Unido-en-enero.png); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img59 {
  background-image: url(https://mx.web.img3.acsta.net/pictures/20/07/16/10/21/4967802.jpg); }

.img60 {
  background-image: url(https://mx.web.img3.acsta.net/pictures/20/07/16/10/21/4967802.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img61 {
  background-image: url(https://www.justwatch.com/images/poster/157730799/s332/temporada-9); }

.img62 {
  background-image: url(https://www.justwatch.com/images/poster/157730799/s332/temporada-9); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img63 {
  background-image: url(https://www.cronista.com/files/image/296/296848/5ffe0ba7042ee.jpg); }

.img64 {
  background-image: url(https://www.cronista.com/files/image/296/296848/5ffe0ba7042ee.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img65 {
  background-image: url(https://static01.nyt.com/images/2019/02/24/arts/24better-things1/24better-things1-superJumbo.jpg); }

.img66 {
  background-image: url(https://static01.nyt.com/images/2019/02/24/arts/24better-things1/24better-things1-superJumbo.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img67 {
  background-image: url(https://media.a24.com/p/6dca0e897b291c83999d6d21d82bc857/adjuntos/296/imagenes/008/737/0008737947/1200x675/smart/netflix-master-of-nonepng.png); }

.img68 {
  background-image: url(https://media.a24.com/p/6dca0e897b291c83999d6d21d82bc857/adjuntos/296/imagenes/008/737/0008737947/1200x675/smart/netflix-master-of-nonepng.png); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img69 {
  background-image: url(https://www.justwatch.com/images/backdrop/255400411/s640/temporada-5); }

.img70 {
  background-image: url(https://www.justwatch.com/images/backdrop/255400411/s640/temporada-5); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img71 {
  background-image: url(https://es.web.img3.acsta.net/r_654_368/newsv7/21/06/21/15/47/1561615.jpg); }

.img72 {
  background-image: url(https://es.web.img3.acsta.net/r_654_368/newsv7/21/06/21/15/47/1561615.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img73 {
  background-image: url(https://images.justwatch.com/poster/243673095/s332/temporada-4); }

.img74 {
  background-image: url(https://images.justwatch.com/poster/243673095/s332/temporada-4); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img75 {
  background-image: url(https://pics.filmaffinity.com/Black_Mirror_Serie_de_TV-872421892-mmed.jpg); }

.img76 {
  background-image: url(https://pics.filmaffinity.com/Black_Mirror_Serie_de_TV-872421892-mmed.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img77 {
  background-image: url(https://i0.wp.com/hipertextual.com/wp-content/uploads/2019/04/hipertextual-segunda-temporada-dark-netflix-tiene-fecha-estreno-2019490221.jpg?fit=1200%2C899&quality=50&strip=all&ssl=1); }

.img78 {
  background-image: url(https://i0.wp.com/hipertextual.com/wp-content/uploads/2019/04/hipertextual-segunda-temporada-dark-netflix-tiene-fecha-estreno-2019490221.jpg?fit=1200%2C899&quality=50&strip=all&ssl=1); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img79 {
  background-image: url(https://estaticos-cdn.elperiodico.com/clip/a11c7212-8c53-49ea-b8b1-ed6d184ec453_alta-libre-aspect-ratio_default_0.jpg); }

.img80 {
  background-image: url(https://estaticos-cdn.elperiodico.com/clip/a11c7212-8c53-49ea-b8b1-ed6d184ec453_alta-libre-aspect-ratio_default_0.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img81 {
  background-image: url(https://intouch.news/wp-content/uploads/2021/12/The-Expanse-Temporada-7-%C2%BFRenovada-o-cancelada-Blz4vsLVx-1.jpg); }

.img82 {
  background-image: url(https://intouch.news/wp-content/uploads/2021/12/The-Expanse-Temporada-7-%C2%BFRenovada-o-cancelada-Blz4vsLVx-1.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img83 {
  background-image: url(https://larepublica.pe/resizer/3LG2UbaKupCjiXrlxUjugEqTpe0=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/2E7XDJUFFZDEJEKLTKLHTGEPKU.jpg); }

.img84 {
  background-image: url(https://larepublica.pe/resizer/3LG2UbaKupCjiXrlxUjugEqTpe0=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/2E7XDJUFFZDEJEKLTKLHTGEPKU.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.menuShonen {
  display: flex;
  justify-items: space-evenly;
  padding: 5px;
  gap: 25px;
  border-radius: 5px;
  margin-top: 60px;
  height: 540px;
  background-color: #241f1f; }

.img85 {
  background-image: url(https://i.blogs.es/ed157d/230317-deathnote/1366_2000.jpg); }

.img86 {
  background-image: url(https://i.blogs.es/ed157d/230317-deathnote/1366_2000.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img87 {
  background-image: url(https://i.pinimg.com/originals/a7/5e/9e/a75e9e35a8ed1ccc1017db40438c60e9.jpg); }

.img88 {
  background-image: url(https://i.pinimg.com/originals/a7/5e/9e/a75e9e35a8ed1ccc1017db40438c60e9.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img89 {
  background-image: url(https://static.bandainamcoent.eu/high/dragon-ball/dragonball-project-z/00-page-setup/dbzk_game-thumbnail.jpg); }

.img90 {
  background-image: url(https://static.bandainamcoent.eu/high/dragon-ball/dragonball-project-z/00-page-setup/dbzk_game-thumbnail.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img91 {
  background-image: url(https://i.blogs.es/e8f8ff/kimetsu-no-yaiba/840_560.jpg); }

.img92 {
  background-image: url(https://i.blogs.es/e8f8ff/kimetsu-no-yaiba/840_560.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img93 {
  background-image: url(https://play-lh.googleusercontent.com/T2FK-LBwauYaSDvkbhoFqLwrZyUXL7aHlsGS1Q5wUjh8PD0R8unhVhgQfTOerCZ899Ai=w512); }

.img94 {
  background-image: url(https://play-lh.googleusercontent.com/T2FK-LBwauYaSDvkbhoFqLwrZyUXL7aHlsGS1Q5wUjh8PD0R8unhVhgQfTOerCZ899Ai=w512); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img95 {
  background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2022/05/hunter-x-hunter-2711139.jpg?itok=Q1rdla1i); }

.img96 {
  background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2022/05/hunter-x-hunter-2711139.jpg?itok=Q1rdla1i); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img97 {
  background-image: url(https://i.blogs.es/08c597/jujutsu-kaisen/840_560.jpg); }

.img98 {
  background-image: url(https://i.blogs.es/08c597/jujutsu-kaisen/840_560.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img99 {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/one-punch-man-1575372411.jpg); }

.img100 {
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/one-punch-man-1575372411.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img101 {
  background-image: url(https://pics.filmaffinity.com/boku_dake_ga_inai_machi-157306262-large.jpg); }

.img102 {
  background-image: url(https://pics.filmaffinity.com/boku_dake_ga_inai_machi-157306262-large.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img103 {
  background-image: url(https://940708.smushcdn.com/2488516/wp-content/uploads/2019/10/parasayte-1024x582.png?lossy=1&strip=0&webp=1); }

.img104 {
  background-image: url(https://940708.smushcdn.com/2488516/wp-content/uploads/2019/10/parasayte-1024x582.png?lossy=1&strip=0&webp=1); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img105 {
  background-image: url(https://tierragamer.com/wp-content/uploads/2019/07/Vinland-Saga-01.jpg); }

.img106 {
  background-image: url(https://tierragamer.com/wp-content/uploads/2019/07/Vinland-Saga-01.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img107 {
  background-image: url(https://i.pinimg.com/originals/1a/d3/ac/1ad3accd02ff4ccabb541146e9b794ea.jpg); }

.img108 {
  background-image: url(https://i.pinimg.com/originals/1a/d3/ac/1ad3accd02ff4ccabb541146e9b794ea.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img109 {
  background-image: url(https://m.media-amazon.com/images/I/61ZIxEkWLYL._AC_SX466_.jpg); }

.img110 {
  background-image: url(https://m.media-amazon.com/images/I/61ZIxEkWLYL._AC_SX466_.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img111 {
  background-image: url(https://i.blogs.es/755972/berserk-manga-2/1366_2000.jpeg); }

.img112 {
  background-image: url(https://i.blogs.es/755972/berserk-manga-2/1366_2000.jpeg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img113 {
  background-image: url(https://i0.wp.com/cuatrobastardos.com/wp-content/uploads/2020/02/Code-Geass-Hangyaku-no-Lelouch-Handou-PV.jpg?resize=1316%2C740&ssl=1); }

.img114 {
  background-image: url(https://i0.wp.com/cuatrobastardos.com/wp-content/uploads/2020/02/Code-Geass-Hangyaku-no-Lelouch-Handou-PV.jpg?resize=1316%2C740&ssl=1); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img115 {
  background-image: url(https://somoskudasai.com/wp-content/uploads/2021/04/portada_eighty-six-9.jpg); }

.img116 {
  background-image: url(https://somoskudasai.com/wp-content/uploads/2021/04/portada_eighty-six-9.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img117 {
  background-image: url(https://i.blogs.es/db2234/9b9/450_1000.jpg); }

.img118 {
  background-image: url(https://i.blogs.es/db2234/9b9/450_1000.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img119 {
  background-image: url(https://img1.ak.crunchyroll.com/i/spire2/9da1546854574ff1cf39d490993cc1cc1651090520_main.png); }

.img120 {
  background-image: url(https://img1.ak.crunchyroll.com/i/spire2/9da1546854574ff1cf39d490993cc1cc1651090520_main.png); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img121 {
  background-image: url(https://img1.ak.crunchyroll.com/i/spire2/05420374d45b1de6e365ae27e8374d091522264400_main.jpg); }

.img122 {
  background-image: url(https://img1.ak.crunchyroll.com/i/spire2/05420374d45b1de6e365ae27e8374d091522264400_main.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img123 {
  background-image: url(https://pics.filmaffinity.com/Guilty_Crown_Serie_de_TV-713758762-mmed.jpg); }

.img124 {
  background-image: url(https://pics.filmaffinity.com/Guilty_Crown_Serie_de_TV-713758762-mmed.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }

.img125 {
  background-image: url(https://ramenparados.com/wp-content/uploads/2021/04/bdd02d6a2a93be152dd3e2c08568d19ad6be4d766a07bcc27ff5b95eec47c5ce._V_SX1080_-1000x600.jpg); }

.img126 {
  background-image: url(https://ramenparados.com/wp-content/uploads/2021/04/bdd02d6a2a93be152dd3e2c08568d19ad6be4d766a07bcc27ff5b95eec47c5ce._V_SX1080_-1000x600.jpg); }

.card:hover .img3 {
  transform: rotate(10deg) scale(1.3) translate(20px, 0);
  transform-origin: 300px 300px;
  opacity: 0.5; }

.card:hover .img4 {
  transform: rotate(90deg) translate(0px, 150px);
  transform-origin: -20px 200px; }
