.index {
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(4, 5, 5), rgb(67, 74, 77), rgb(0, 0, 0));

}

@media screen and (max-width: 768px) {
    .grid {
        grid-row-gap: 2vh;
        grid-template-columns: 11vw 1fr 0vw;
        grid-column-gap: 14vw;

    }

    .encabezado {
        height: 7vh;
    }

    .header__Logo {
        padding-right: 2vw;
    }

    .boton__Header {
        margin-left: 1vw;
        margin-top: 1vh;
        width: 3vw;
        height: 4vh;
    }

    .boton__Header:hover {
        width: 5.5vw;

    }

    .logo__Header {
        height: 4vh;
        width: 3vw;
    }

    .contenedor {
        width: 11vw;
    }


    .artPeliculas {
        block-size: 22vw;
    }

    .imagenPeliculas {
        height: 20vh;
        width: 12vw;
    }

    .artSeries {
        block-size: 22vw;
    }

    .imagenSeries {
        height: 20vh;
        width: 12vw;

    }

    .artAnime {
        block-size: 22vw;
    }

    .imagenAnime {
        height: 20vh;
        width: 12vw;
    }

    th,
    table,
    td {

        height: 5vh;
        width: 32vw;
        border-collapse: collapse;
        font-size: 20px;

    }


}

.grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav peliculas ."
        "nav aside ."
        ". suscripcion ."
        "footer footer footer";
    grid-row-gap: 10px;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr 0px;
    grid-column-gap: 220px;

}



.encabezado {
    background-color: gray;
    grid-area: header;
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-radius: 15px;
    border-color: wheat;

}



.header__Logo {
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

.headerBoton {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header__span {
    color: rgb(209, 86, 86);
}

.boton__Header {


    margin-left: 15px;
    margin-top: 15px;
    background-color: rgb(209, 86, 86);
    border-radius: 10px;
    border-radius: 10px;
    width: 60px;
    height: 50px;
    transition: 1s;
}

.boton__Header:hover {
    transform: scale(1.1);

}

.logo__Header {
    filter: brightness(1.2);
    mix-blend-mode: multiply;
    height: 50px;
    width: 50px;
    display: block;
}



.link__Header {

    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white
}

.contenedor {
    margin-top: 60px;
    height: 900px;
    width: 200px;
    grid-area: nav;
    opacity: 0.8;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

}


.listaMenu {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.lista {
    height: 36px;
    margin-left: 15px;
    width: 120%;
    border: 2px solid;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.lista:hover {
    transform: scale(1.1);
}


.aside {
    rotate: (180deg);
    grid-area: aside;
    border-radius: 10px;
    border: 2px solid;
    height: 100px;
    background: red;
    animation: slide 5s infinite;
    background-image: url(Imagenes/Spotify-Advertising.png);
    background-size: auto, auto, cover;
    animation: aside 10s infinite;
    animation-direction: alternate;

}


@keyframes aside {

    0%,
    30% {
        background-image: url(imagenes/Spotify-Advertising.png);
        opacity: 1;
    }

    31%,
    34% {
        opacity: 0.1;
    }

    35%,
    65% {
        background-image: url(imagenes/spotify.jpg);
        opacity: 1;
    }

    66%,
    69% {
        opacity: 0.1;
    }

    70%,
    100% {
        background-image: url(imagenes/Series.jpg);
        opacity: 1;
    }

}





.gratuito {
    margin-top: 70px;
    grid-area: peliculas;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.headerBoton {
    padding-left: 20px;
}

.artEnt {
    block-size: 400px;
    border-radius: 10px;
    border-color: black;
    border: 1px solid;
    border-width: 2px;
}

.imagenEnt {

    padding-top: 10px;
    padding-left: 25px;
    padding-right: 15px;
    height: 200px;
    width: 220px;
}


.h2Etiqueta {
    text-align: center;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}




.contenidoPago {

    width: 700px;
    background-color: rgb(209, 86, 86);
    border-radius: 10px;
    border: 2px solid;
    padding: 16px;
}

.suscripciones {
    grid-area: suscripcion;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;


}

.h1Suscripciones {
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    text-align: center;
}



th,
table,
td {
    margin-left: 100px;
    margin-top: 80px;
    border-color: rgb(50, 136, 149);
    border: 3px solid;
    border-collapse: collapse;
    font-size: 20px;

}


.linkToContent {

    padding-left: 75px;
    text-decoration: none;
    text-transform: uppercase;
    color: wheat;
    text-align: center;
    transition: all .4s ease-in-out;

}



.linkToContent:hover {
    color: rgb(129, 165, 249);
    text-decoration: none;
}


.pContenidoPago {
    font-size: 20px;
    line-height: 20px;
}


.listaAnime {
    font-size: 20px;
    list-style-type: none;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: justify;
}

.imagenFooter {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 5px;
    margin-right: 10px;
}

.bloqueFooter {
    display: flex;
    width: 100%;
    height: 100px;

    bottom: 0;
    grid-area: footer;
    background-color: rgb(224, 63, 63);
    opacity: 0.7;
    border-radius: 10px;
    border-color: black;
    border: 1px solid;

}

.listaFooter {
    list-style-type: none;
}

.firstFoot {
    padding-top: 20px;
    font-size: 20px;
    color: wheat;
    text-decoration: none;

}



.bodyPago {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(4, 5, 5), rgb(67, 74, 77), rgb(0, 0, 0));
}

.h1Pago {
    margin-top: 70px;
    text-align: center;
}

.login {
    border: 4px solid;
    border-color: wheat;
    border-radius: 7px;
    padding: 10px;
    margin-top: 100px;
    display: inline-block;
    margin-left: 760px;

}

.inputDatos {
    margin-top: 10px;
}

.divTarjeta {
    margin-top: 40px;
}

h1,
h5,
label {
    color: white;
}

.hTarjeta {
    margin-top: 80px;
}

.label {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.medioPago {
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#botonFin {
    margin-left: 920px;
    margin-top: 40px;
}