@mixin dimensiones ($width, $height) {
    height: $height;
    width: $width;
}


@mixin backcolor ($bcolor) {
    @if $bcolor==colorwheat {
        background-color: wheat;

    }

    @else if $bcolor==colorCards {
        background-color: $colorCards;
    }
}